.form {
  padding: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .pre-form-button {
    margin-bottom: 1rem;
  }

  .slips-list {
    .slip-actions :not(button:last-child) {
      margin-right: 0.5rem;
    }
  }

  .t4a-actions :not(button:last-child) {
    margin-right: 0.5rem;
  }

  .form-section {
    background: #f8f8f8;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
      color: #2c3e50;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      border-bottom: 2px solid #e9ecef;
      padding-bottom: 0.5rem;
    }
  }

  .form-group {
    margin-bottom: 1rem;

    label {
      display: block;
      color: #495057;
      font-weight: 500;

      span {
        margin-bottom: 1rem;
      }
    }

    .field-title {
      // margin: 0;
      padding: 0;
    }

    .tooltip {
      position: relative;
      display: inline-block;
      // margin: 0;
      border-bottom: 1px dotted #000;
      cursor: help;

      .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 105%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.9em;
        font-weight: normal;

        &::after {
          content: "";
          position: absolute;
          right: 100%;
          top: 50%;
          // margin-left: -5px;
          transform: rotate(90deg);
          border-width: 5px;
          border-style: solid;
          border-color: #333 transparent transparent transparent;
        }
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .other-field-input-container {
    display: flex;
    justify-content: space-between;
  }

  .add-other-field {
    display: flex;
    gap: 10px;
  }

  .add-other-field-select {
    max-width: 300px;
  }

  .add-other-field-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
  }

  .add-other-field-button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: auto;
  }

  // button {
  //   display: block;
  //   width: 100%;
  //   padding: 1rem;
  //   background-color: #007bff;
  //   color: white;
  //   border: none;
  //   border-radius: 4px;
  //   font-size: 16px;
  //   cursor: pointer;
  //   transition: background-color 0.2s;

  //   &:hover {
  //     background-color: #0056b3;
  //   }

  //   &:active {
  //     background-color: #004085;
  //   }
  // }

  .error-message {
    color: red;
  }

  .success-message {
    color: green;
  }
}
